.bordeV {
    border: solid 1px #00bb64;
}

.ct {
    text-align: center;
}

.tb {
    color: white;
}

.bt {
    padding-top: 5%;
}
.check {
        top: 0;
        left: 0;
        height: 17px;
        width: 17px;
}
.texto{
    text-transform: uppercase;
}