.centrar {
    margin-top: 20%;
    }
    
    .separarButtons {
        margin: 5%;
    }
    .bordeV {
        border: solid 1px #00bb64;
    }
    .tb {
        color: white;
    }
    .ct {
        text-align: center;
    }

    .t1 {
        margin-bottom: 100%;
    }

    .i1{
        margin-top: 87%;
    }

    .t2 {
        margin-bottom: 37%;
    }

    .bordeV2 {
        border-bottom: solid 1px #00bb64;
    }
    .texto{
        text-transform: uppercase;
    }