<ion-header>
  <ion-toolbar  color="negroZango" class="bordeV tb">
    <ion-buttons slot="start" defaultHref="/tabs/tab1">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title size="small" >{{nombre}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="negroZango" class="ct">
 <ion-card color="negroZango" class="tb">
    Interiores
  </ion-card>
  <ion-card color="negroZango">
    <canvas #barChart></canvas>
  </ion-card>
</ion-content>


<ion-content  color="negroZango" class="ct">
  <ion-card color="negroZango" class="tb">
    Exteriores
  </ion-card>
  <ion-card color="negroZango">
    <canvas #barChart2></canvas>
  </ion-card>
</ion-content>
