<ion-header>
  <ion-toolbar color="negroZango" class="bordeV tb ct">
    <ion-title size="small">Gráficas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="negroZango" class="ct">
 <ion-card color="negroZango">
    Interiores
  </ion-card>
  <ion-card color="negroZango">
    <canvas #barChart></canvas>
  </ion-card>
</ion-content>


<ion-content  color="negroZango" class="ct">
  <ion-card color="negroZango">
    Exteriores
  </ion-card>
  <ion-card color="negroZango">
    <canvas #barChart2></canvas>
  </ion-card>
</ion-content>
