<ion-header>
  <ion-toolbar color="negroZango" class="bordeV tb ct">
    <ion-title size="small">Ver Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="negroZango" class="ct">

  <div class="empresas" *ngFor="let d of datos">
    <ion-button (click)="irReportes(d.id)" color="verdeZango">
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <div class="text">
        {{d.nombre}}
      </div>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-button>
  </div>
  
</ion-content>