<ion-header>
  <ion-toolbar color="negroZango" class="bordeV tb ct">
    <ion-title size="small" class="texto">Gráficas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="negroZango">
  <!-- <ion-card color="negroZango">
    Interiores
  </ion-card>
  <ion-card color="negroZango">
    <canvas #barChart></canvas>
  </ion-card>
</ion-content>


<ion-content  color="negroZango" class="ct">
  <ion-card color="negroZango">         
    Exteriores
  </ion-card>
  <ion-card color="negroZango">
    <canvas #barChart2></canvas>
  </ion-card> -->
  <div class="empresas" *ngFor="let d of datos" (click)="empresa(d.id)">
    <ion-button color="verdeZango">
      <div class="text">
        {{d.nombre}}
      </div>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-button>
  </div>
</ion-content>