<ion-header>
  <ion-toolbar color="negroZango" class="bordeV tb ct">
    <ion-title class="ct" size="small">Ver Gráficas</ion-title>
    <ion-title size="small" class="texto">Gráficas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="negroZango">
<ion-card color="negroZango">
  <div class="alto" *ngFor="let d of datos" (click)="empresa(d.id)">
    <ion-button expand="block" color="verdeZango">
      <div class="text">
        {{d.nombre}}
      </div>
    </ion-button>
  </div>
</ion-card>
  
</ion-content>