<ion-header>
  <ion-toolbar  color="negroZango" class="bordeV tb">
    <ion-buttons slot="start" defaultHref="/tabs/tab1">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title size="small" class="texto" >Ver Empresas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="negroZango">
  <ion-card color="negroZango"> 
    <div *ngFor="let d of datos" (click)="empresa(d.id)">
      <ion-button  class="alto" expand="block" color="verdeZango">
        <div class="text">
          {{d.nombre}}
        </div>
      </ion-button>
    </div>
  </ion-card>
  
</ion-content>
