.head ion-item{
    margin-top: 10%;
    text-align: center;
    font-size: large;
}
.content{
    margin-top: 20%;
    text-align: center;   
}
.content ion-button{
    width: 75%;
    margin-top: 30px;
    text-transform: uppercase;
}
ion-slide {
display: block;
}
.slide-img-padding{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;
}
h3{
    font-size: 80%;
    font-weight: lighter;
    margin-bottom: 10%;
    color: white;
}
.btn-verde{
height: 130%;
padding-bottom: 5%;
}
ion-slides {
    --bullet-background: #00bb64;
    --bullet-background-active: #00bb64;
}
.texto{
    text-transform: uppercase;
}
// @media screen and (max-height: 800px){
//     img{
//         width: 50%;
//     }
// }